<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">

	<div class="layui-form-item">
		<label class="layui-form-label">名称</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" name="enablingName" value="{{ d.params.enablingName || '' }}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
			</script>
		</div>
	</div>



	<div class="layui-form-item">
		<label class="layui-form-label"></label>
		<div class="layui-input-inline">
			<input type="button" id="Button" lay-submit lay-filter="LAY-enabling-front-submit" value="确认" class="layui-btn">
		</div>
	</div>

</div>

<script>
	//按下回车触发登录
	document.onkeydown = function() {
		if(event.keyCode == 13) {
			document.getElementById("Button").click();
			return false;
		}
	}
</script>
