<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">


    <div class="layui-upload">
        <button type="button" class="layui-btn" id="test2">多图片上传</button>
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
            预览图：
            <script type="text/html" template lay-done="layui.data.groups(d);">
                <div class="layui-upload-list uploader-list" style="overflow: auto;" id="uploader-list">

                </div>
            </script>
        </blockquote>
    </div>

    <div class="layui-form-item" >
        <div class="layui-input-inline">
            <script type="text/html" template>
                <button class="layui-btn layui-btn-normal layui-btn-xs" style="width: 100px;height: 40px;"
                        onclick="pdfsee(layui.setter.ajaxUrl+'{{d.params.pdf}}')">PDF预览
                </button>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-reportData-front-submit" value="确认" class="layui-btn">
        </div>
    </div>

</div>

<script type="text/javascript">
    function pdfsee(uul) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                area: ['1000px', '700px'],
                fixed: false, //不固定
                maxmin: true,
                content: uul
            });
        });
    };
</script>

<style type="text/css">
    .uploader-list {
        margin-left: 20px;
    }

    .uploader-list .info {
        position: relative;
        margin-top: -25px;
        background-color: black;
        color: white;
        filter: alpha(Opacity=80);
        -moz-opacity: 0.5;
        opacity: 0.5;
        width: 200px;
        height: 25px;
        text-align: center;
        display: none;
    }

    .uploader-list .handle {
        position: relative;
        background-color: black;
        color: white;
        filter: alpha(Opacity=80);
        -moz-opacity: 0.5;
        opacity: 0.5;
        width: 200px;
        text-align: right;
        height: 18px;
        margin-bottom: -18px;
        display: none;
    }

    .uploader-list .handle i {
        margin-right: 5px;
    }

    .uploader-list .handle i:hover {
        cursor: pointer;
    }

    .uploader-list .file-iteme {
        margin: 12px 0 0 15px;
        padding: 1px;
        float: left;
    }
</style>

<script>
    layui.data.groups = function (d) {

        layui.use(['admin', 'form', 'upload', 'tree', 'layer'], function () {
            var $ = layui.$,
                form = layui.form,
                layer = layui.layer,
                upload = layui.upload;

            if ((!d.params.reportContent == null) || (!d.params.reportContent) == "") {
                var image = d.params.reportContent.split(",");
                for (var i = 0; i < image.length; i++) {
                    $('#uploader-list').append(
                        '<div id="" class="file-iteme">' +
                        '<div class="handle"><i class="layui-icon layui-icon-delete"></i></div>' +
                        '<input type="hidden" name="reportContent" value=' + image[i] + '>' +
                        '<img style="width: 200px;height: 100px;" src=' + layui.setter.ajaxUrl + image[i] + ' >' +
                        '<div class="info">' + image[i] + '</div>' +
                        '</div>'
                    );
                    form.render();
                }
            }

            upload.render({
                elem: '#test2'
                , url: layui.setter.ajaxUrl + '/api/upload/image'
                , multiple: true
                , before: function (obj) {
                    layer.msg('图片上传中...', {
                        icon: 16,
                        shade: 0.01,
                        time: 0
                    })
                }
                , done: function (res) {
                    layer.close(layer.msg());//关闭上传提示窗口
                    //上传完毕
                    $('#uploader-list').append(
                        '<div id="" class="file-iteme">' +
                        '<div class="handle"><i class="layui-icon layui-icon-delete"></i></div>' +
                        '<input type="hidden" name="reportContent" value=' + res.data + '>' +
                        '<img style="width: 200px;height: 100px;" src=' + layui.setter.ajaxUrl + res.data + ' >' +
                        '<div class="info">' + res.data + '</div>' +
                        '</div>'
                    );
                }
            });

            $(document).on("mouseenter mouseleave", ".file-iteme", function (event) {
                if (event.type === "mouseenter") {
                    //鼠标悬浮
                    $(this).children(".info").fadeIn("fast");
                    $(this).children(".handle").fadeIn("fast");
                } else if (event.type === "mouseleave") {
                    //鼠标离开
                    $(this).children(".info").hide();
                    $(this).children(".handle").hide();
                }
            });

            // 删除图片
            $(document).on("click", ".file-iteme .handle", function (event) {
                console.log(event);
                $(this).parent().remove();
            });

            form.render();
        })
    };
</script>