<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>服务门店管理</cite></a>
        <a><cite>门店列表</cite></a>
    </div>
</div>

<div class="layui-fluid">

    <div class="layui-card">

        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="LAY-staff-manage" style="width: 100%;
        display: flex;flex-direction: row;">

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>
            <div class="layui-form-item" >
                <div class="layui-inline">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block">
                        <input type="text" name="character" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-official-store-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>


        <div class="layui-card-body">

            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">新增人员</button>

                <button class="layui-btn layuiadmin-btn-useradmin" data-type="export">导出Excel</button>
            </div>

            <table id="LAY-staff-manage" lay-filter="LAY-staff-manage"></table>

            <script type="text/html" id="table-cloud-operation">
                <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="detail"><i
                        class="layui-icon layui-icon-detail"></i>详情</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>


        </div>

    </div>

</div>

<script>
    layui.use('staff', layui.factory('staff')).use(['admin','useradmin', 'table', 'laydate', 'form'], function () {
        var $ = layui.$,
            admin = layui.admin,
            view = layui.view,
            table = layui.table,
            laydate = layui.laydate,
            form = layui.form;

        form.render();

        laydate.render({
            elem: '#time'
            ,type: 'datetime'
            ,range: true
        });

        form.on('submit(LAY-official-partner-search)', function(data){
            var field = data.field;
            console.log(field);
            table.reload('LAY-staff-manage', {
                url: layui.setter.ajaxUrl + '/api/admin/tag/search',
                method: 'get',
                where: field,
                page: true
            });
        });

        var active = {
            add: function () {
                admin.popup({
                    title: '新增人员',
                    area: ['550px', '450px'],
                    id: 'LAY-popup-user-add',
                    success: function (layero, index) {
                        view(this.id).render('staff/form').done(function () {
                            form.render();
                            form.on('submit(LAY-store-front-submit)', function (data) {
                                var field = data.field;
                                field.token = layui.data('data').token;
                                var role = '';
                                $("input:checkbox[name='checkbox']:checked").each(function (i) {
                                    role += $(this).attr('value') + ',';
                                });
                                role = role.slice(0, -1);
                                field.roles = role;
                                field.storeId = 1;
                                field.company = "柚子";
                                delete field.checkbox;
                                console.log(field);
                                $.ajax({
                                    url: layui.setter.ajaxUrl + "/api/personnel/add"
                                    , method: "post"
                                    , contentType: 'application/json;charset=UTF-8'
                                    , data: JSON.stringify(
                                        field
                                    ),
                                    success: function (data) {
                                        if (data.data == 1) {
                                            layer.alert('已添加', {icon: 1});
                                            layui.table.reload('LAY-staff-manage');
                                        } else {
                                            layer.alert('添加失败，请稍后重试', {icon: 2});
                                        }
                                        if (data.code == 403) {
                                            layer.closeAll();
                                            admin.exit();
                                            setTimeout(function () {
                                                layer.alert('此账号已在别处登录,请重新登录！', {icon: 5});
                                            }, 666);
                                        }
                                    },
                                    error: function (data) {
                                        layer.alert('添加失败，请稍后重试', {icon: 2});
                                    }
                                });
                                layer.close(index);
                            });
                        });
                    }
                });
            },
            export: function () {
                var checkStatus = table.checkStatus('LAY-staff-manage')
                    , checkData = checkStatus.data; //得到选中的数据
                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                var uid='';
                for (let i = 0; i < checkData.length; i++) {
                    uid += checkData[i].uid+','
                }
                uid = uid.slice(0,-1);
                layer.confirm('是否确认导出？', function (index) {

                    $.ajax({
                        url: layui.setter.ajaxUrl + "/api/export"
                        , method: "get"
                        , contentType: 'application/json;charset=UTF-8'
                        ,data: JSON.stringify({
                            'token': layui.data('data').token,
                            'uid':uid
                        })
                        , success: function (data) {
                            console.log(data);
                            if (data.code == 403) {
                                layer.closeAll();
                                admin.exit();
                                setTimeout(function () {
                                    layer.alert('此账号已在别处登录,请重新登录！', {icon: 5});
                                }, 666);
                            }
                        },
                        error: function (data) {
                            layer.alert('导出失败,请稍后重试！', {icon: 2});
                        }
                    });
                    layer.close(index);
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>