<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
<div style="display: flex;flex-direction: row;justify-content: flex-start;flex-wrap: wrap;width: 100%;">
    <div class="layui-form-item" style="width: 50%;">
        <label class="layui-form-label">门店名称</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text"  name="storeName" value="{{ d.params.storeName || '' }}"
                       placeholder="请输入" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

    <div class="layui-form-item"  style="width: 50%;">
        <label class="layui-form-label">门店地址</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text"  name="storeAddress" value="{{ d.params.storeAddress || '' }}"
                       placeholder="请输入" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

    <div class="layui-form-item" style="width: 50%;">
        <label class="layui-form-label">负责人姓名</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="fullName" value="{{ d.params.fullName || '' }}"
                       placeholder="请输入" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

    <div class="layui-form-item" style="width: 50%;">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="phone" value="{{ d.params.phone || '' }}"
                       placeholder="请输入" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

</div>


    <div class="layui-form-item">
        <label class="layui-form-label">使用区域</label>
        <div class="layui-input-inline">
            <input type="hidden" id="reg" name="reg">
            <div id="regionTest"></div>
            <div style="margin-left: 15px;">
                您点击的地域是：<span id="click"></span></br>
                提交的数据：<span id="all"></span>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">有效期</label>
        <div class="layui-input-inline">
            <script type="text/html" template  lay-done="layui.data.groups(d);">
                <input class="layui-input layui-input-inline" value="{{ d.params.time || '' }}" name="time" id="Time" placeholder="时间  :  yyyy-MM-dd" autocomplete="off" >
            </script>
        </div>

        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="radio" name="status" {{ d.params.status== 0 ? 'checked':'' }} value="0" title="启用" checked>
                <input type="radio" name="status" {{ d.params.status== 1 ? 'checked':'' }} value="1" title="禁用">
            </script>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-store-front-submit" value="确认" class="layui-btn">
        </div>
    </div>

</div>

<script>

    layui.config({
        base:  '../../../carService/start/layui/lay/'
        // base: '../../../layui_exts/' //配置组件存放的基础目录
    }).extend({
        regionCheckBox: 'modules/regionCheckBox' //定义组件模块名
    }).use(['regionCheckBox'], function(){
        var $ = layui.$;
        var regionCheckBox = layui.regionCheckBox;

        //执行实例
        regionCheckBox.render({
            elem: '#regionTest',
            name: 'region', //input name
            value: ['北京'], //赋初始值   , '内蒙古' , '江西-九江'
            width: '550px', //默认550px
            border: true, //默认true
            ready: function(){ //初始化完成时执行
                $('#all').html(this.name + '=' + getAllChecked());
                $('#reg').val(getAllChecked());
            },
            change: function(result){ //点击复选框时执行
                $('#click').html(result.value);
                $('#all').html(this.name + '=' + getAllChecked());
                $('#reg').val(getAllChecked());
            }
        });

        function getAllChecked(){
            var all = '';
            $("input:checkbox[name='region']:checked").each(function(){
                all += $(this).val() + ',';
            });
            return all.substring(0, all.length-1);
        }

    });
</script>

<script>
    layui.data.groups = function (d) {
        layui.use(['admin', 'form', 'upload', 'tree', 'laydate'], function () {
            var $ = layui.$,
                form = layui.form,
                laydate = layui.laydate;
            form.render();

            laydate.render({
                elem: '#Time'
                , type: 'datetime'
            });

        })
    }
</script>