<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">

	<div class="layui-form-item">
		<label class="layui-form-label">详细需求</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<textarea type="text" readonly="readonly" value="{{ d.params.detailNeed || '暂无' }}" style="resize: none;width: 400px;height: 60px;" autocomplete="off" class="layui-textarea">
					{{ d.params.detailNeed || '暂无' }}
				</textarea>
			</script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">赋能需求</label>
		<div class="layui-input-inline">
			<script type="text/html" template lay-done="layui.data.groups(d);">
				<div id="enabling_need">
					
				</div>
			</script>
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">原有企业名称</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" readonly="readonly" value="{{ d.params.originalCompanyName || '暂无' }}" class="layui-input">
			</script>
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">原有企业主营业务</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<textarea type="text" readonly="readonly" value="{{ d.params.originalBusiness || '暂无' }}" style="resize: none;width: 400px;height: 60px;"  class="layui-textarea">
					{{ d.params.originalBusiness || '暂无' }}
				</textarea>
			</script>
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">原有企业所处行业</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" readonly="readonly" value="{{ d.params.originalIndustry || '暂无' }}"  class="layui-input">
			</script>
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">原有企业规模</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" readonly="readonly" value="{{ d.params.originalScale || '暂无' }}"  class="layui-input">
			</script>
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">现有企业名称</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" readonly="readonly" value="{{ d.params.nowCompanyName || '暂无' }}"  class="layui-input">
			</script>
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">现有企业主营业务</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<textarea type="text" readonly="readonly" value="{{ d.params.nowBusiness || '暂无' }}" style="resize: none;width: 400px;height: 60px;" autocomplete="off" class="layui-textarea">
					{{ d.params.detailNeed || '暂无' }}
				</textarea>
			</script>
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">现有企业所处行业</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" readonly="readonly" value="{{ d.params.nowIndustry || '暂无' }}"  class="layui-input">
			</script>
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">现有企业规模</label>
		<div class="layui-input-inline">
			<script type="text/html" template>
				<input type="text" readonly="readonly" value="{{ d.params.nowScale || '暂无' }}"  class="layui-input">
			</script>
		</div>
	</div>
	

	<div class="layui-form-item">
		<label class="layui-form-label"></label>
		<div class="layui-input-inline">
			<input type="button" lay-submit lay-filter="LAY-register-front-submit" value="确认" class="layui-btn">
		</div>
	</div>

</div>

<script>
	layui.use(['admin', 'form','jquery'], function() {
		
		var $ = layui.$,
			jquery = layui.jquery,
			form = layui.form;

		layui.data.groups = function(d) {
			(function() {
				var eid = d.params.enablingNeed;
				var cont = eid.split(",");
				console.log(cont);
				$.ajax({
					url: layui.setter.ajaxUrl + '/api/admin/enabling/all',
					type: 'get',
					data: {
						'token': layui.data('data').token,
					},
					success: function(data) {
						for(var i = 0; i < data.data.length; i++) {
							let s = false;
							for (let k = 0; k < cont.length; k++) {
								if(cont[k] == data.data[i].id){
									s = true;
								}
							}
							
							if(s)
								var temp = '<div class="line"></div><input checked type="checkbox" id="' + data.data[i].id + '" value="' + data.data[i].id + '" name="checkbox" title="' + data.data[i].enablingName + '" data-pid="' + data.data[i].id + '">';
							else
								var temp = '<div class="line"></div><input disabled type="checkbox" id="' + data.data[i].id + '" value="' + data.data[i].id + '" name="checkbox" title="' + data.data[i].enablingName + '" data-pid="' + data.data[i].id + '">';
							
							$('#enabling_need').append(temp);
							form.render();
						}
						
						for(var i = 0; i < cont.length; i++) {
							$('input[value=' + cont[i] + ']').next().css({'cursor': 'not-allowed'}).unbind("click");
						}
						
					}
				});
			})();
		};
		
		
	})
</script>
