<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <div style="display: flex;flex-direction: row;justify-content: flex-start;flex-wrap: wrap;width: 100%;">
        <div class="layui-form-item" style="width: 50%;">
            <label class="layui-form-label">门店名称</label>
            <div class="layui-input-inline">
                <script type="text/html" template>
                    <input type="text" name="partnerName" value="{{ d.params.partnerName || '' }}" placeholder="请输入"
                        autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>


        <div class="layui-inline">
            <label class="layui-form-label">店铺</label>
            <div class="layui-input-block" style="width: 150px;">
                <script type="text/html" template>
                    <input type="hidden" id="roleId" value="{{d.params.storeName}}" />
                    <select name="storeId" id="role" lay-verify="required"></select>
                </script>

            </div>
        </div>

        <div class="layui-form-item" style="width: 50%;">
            <label class="layui-form-label">门店地址</label>
            <div class="layui-input-inline">
                <script type="text/html" template>
                    <input type="text" name="address" value="{{ d.params.address || '' }}" placeholder="请输入"
                        autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
        <div class="layui-form-item" style="width: 50%;">
            <label class="layui-form-label">经度</label>
            <div class="layui-input-inline">
                <script type="text/html" template>
                    <input type="text" name="longitude" value="{{ d.params.longitude || '' }}" placeholder="请输入"
                        autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
        <div class="layui-form-item" style="width: 50%;">
            <label class="layui-form-label">纬度</label>
            <div class="layui-input-inline">
                <script type="text/html" template>
                    <input type="text" name="latitude" value="{{ d.params.latitude || '' }}" placeholder="请输入"
                        autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>

        <div class="layui-form-item" style="width: 50%;">
            <label class="layui-form-label">负责人姓名</label>
            <div class="layui-input-inline">
                <script type="text/html" template>
                    <input type="text" name="liableName" value="{{ d.params.liableName || '' }}" placeholder="请输入"
                        autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>

        <div class="layui-form-item" style="width: 50%;">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <script type="text/html" template>
                    <input type="text" name="liablePhone" value="{{ d.params.liablePhone || '' }}" placeholder="请输入"
                        autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>

    </div>


    <div class="layui-form-item" id="area-picker">
        <label class="layui-form-label">使用区域</label>
        <div class="layui-input-inline">
            <input type="hidden" id="reg" name="region">
            <div id="regionTest"></div>
            <div style="margin-left: 15px;">
                您点击的地域是：<span id="click"></span></br>
                提交的数据：<span id="all"></span>
            </div>
            <div style="display: flex;flex-direction: row;width: 600px">

                <div class="layui-input-inline" style="width: 200px;flex-grow: 1;">
                    <select name="province" class="province-selector" lay-filter="province-1">
                        <option value="">请选择省</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 200px;flex-grow: 1;">
                    <select name="city" class="city-selector" lay-filter="city-1">
                        <option value="">请选择市</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 200px;flex-grow: 1;">
                    <select name="county" class="county-selector" lay-filter="county-1">
                        <option value="">请选择区</option>
                    </select>
                </div>
            </div>
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-store-front-submit" value="确认" class="layui-btn">
        </div>
    </div>

</div>


<script>
    layui.config({
        base: '{/}../start/layui/lay/modules/',
        version: '1.0'
    });
    layui.use(['layer', 'form', 'layarea', 'admin', 'upload', 'tree', 'laydate'], function () {
        var layer = layui.layer,
            form = layui.form,
            layarea = layui.layarea;

        var $ = layui.$,
            laydate = layui.laydate;
        form.render();

        laydate.render({
            elem: '#Time',
            type: 'datetime'
        });

        layarea.render({
            elem: '#area-picker',
            data: {
                province: '北京市',
                city: '北京市',
                county: '',
            },
            change: function (res) {
                //选择结果
                console.log(res);
            }
        });
        $.ajax({
            url: layui.setter.ajaxUrl + 'api/store/list',
            method: "get",
            data: {
                //   'token': layui.data('data').token
                limit: 10,
                page: 1
            },
            success: function (result) {
                var list = result["data"];
                var server = document.getElementById("role");
                for (var p in list) {
                    var option = document.createElement("option");
                    option.setAttribute("value", list[p].id);
                    option.innerText = list[p].storeName;
                    server.appendChild(option);
                    form.render("select");
                }
                if (list[p].id != 'undefined') {
                    var classId = 'dd[lay-value=' + list[p].id + ']';
                    $("#role").next().find('dl').find(classId).click();
                }
                form.render('select');
            }

        });
    });
</script>